{% extends "base.html.twig" %}

{% block title %}
    Commande
{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col-md-6 mx-auto">
            <div class="alert alert-success text-center">On a reussi votre commande</div>
        </div>
    </div>
{% endblock %}