{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block header %}  {% include "layout/_admin_header.html.twig" %} {% endblock %}

{% block body %}

    <div class="row mt-5">
        <div class="col-md-8 mx-auto">
            <h1  class="h3 text-muted text-center mb-3">Mise à jour d'un produit</h1>
            {{ include('product/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
            <div class="text-center">
                <a href="{{ path('product_index') }}" class="btn btn-secondary">Retour</a>
            </div>
        </div>
    </div>

{% endblock %}
