{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}

    <h3>Mise à jour d'un produit</h3>

    {{ include('product/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a href="{{ path('product_index') }}">Retour</a>

{% endblock %}
