{% extends "base.html.twig" %}

{% block title %}
    Client | Nouveau
{% endblock %}

{% block body %}
    <div class="row mt-5">
        <h3 class="m-3 text-center">Vous devez vous inscrire avant de faire un achat</h3>
        <div class="col-md-6 mx-auto">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="text-center mt-3">
                    <button class="btn btn-success">Inscrire !</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}